.venv/
.git/
.github/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
dist/
build/
node_modules/
docker-compose.env
docker-compose.env.yaml
.env
.DS_Store
