DEBUG=1
APPLY_MIGRATIONS=1
CREATE_SUPERUSER=1
TOKEN_AUTH_AUTHSERVER_URL=http://tunnistamo-backend:8000/openid
DATABASE_URL=postgres://notification_service:notification_service@notification_service-db.helsinki/notification_service
DATABASE_HOST=notification_service-db.helsinki
SECRET_KEY=xxx
