DEBUG=1
APPLY_MIGRATIONS=1
ALLOW_CROSS_SITE_SESSION_COOKIE=True

SOCIAL_AUTH_TUNNISTAMO_KEY=notification_service
SOCIAL_AUTH_TUNNISTAMO_SECRET=notification_service
SOCIAL_AUTH_TUNNISTAMO_OIDC_ENDPOINT=http://notification-service-keycloak:8180/realms/local-dev

TOKEN_AUTH_AUTHSERVER_URL=http://notification-service-keycloak:8180/realms/local-dev
TOKEN_AUTH_ACCEPTED_AUDIENCE=notification_service
TOKEN_AUTH_ACCEPTED_SCOPE_PREFIX=
TOKEN_AUTH_REQUIRE_SCOPE_PREFIX=

DATABASE_URL=postgres://notification_service:notification_service@notification_service-db/notification_service
DATABASE_HOST=notification_service-db
SECRET_KEY=xxx

SENTRY_DSN=https://abcdefg@your.sentry.here/999
SENTRY_ENVIRONMENT=local
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_TRACES_IGNORE_PATHS=/healthz,/readiness

ALLOWED_HOSTS=*
