django
django-cors-headers
django-csp
django-environ
django-helusers
django-health-check
django-axes
djangorestframework
factory-boy
psycopg[c]
sentry-sdk[django]
social-auth-app-django
phonenumberslite
