Django~=5.2
django-axes
django-cors-headers
django-csp
django-environ
django-helusers
django-health-check
django-logger-extra
djangorestframework
factory-boy
psycopg[c]
sentry-sdk[django]
social-auth-app-django
phonenumberslite
ipython
uwsgi
